<div class="group-4">
	<div class="overlap-3">
		<a class="logo">
			<img class="security-shield" src="/images/security-shield-2.png" />
			<div class="text-wrapper">ReportTerror</div>
		</a>
		<p class="text-wrapper-23"
			>Community platform for reporting and combating terrorism.</p
		>
		<div style="display: none">
			<div class="text-wrapper-24">Submit report</div>
			<div class="text-wrapper-25">Search cases</div>
			<div class="text-wrapper-26">Raise awareness</div>
			<div class="text-wrapper-27">Join us</div>
			<div class="text-wrapper-28">Live chat</div>
			<div class="text-wrapper-29">Receive</div>
			<div class="text-wrapper-30">Case search</div>
			<div class="text-wrapper-31">Knowledge</div>
			<div class="text-wrapper-32">Support services</div>
			<div class="text-wrapper-33">Combat</div>
			<div class="text-wrapper-34">Stay</div>
			<div class="text-wrapper-35">Share</div>
			<div class="text-wrapper-36">Contact</div>
			<div class="text-wrapper-37">Community</div>
			<div class="text-wrapper-38">Premium</div></div
		>
	</div>
</div>
