@font-face {
	font-family: "Poppins";
	src: local("☺"), url("Poppins/Poppins-Thin.woff") format("woff"),
		url("Poppins/Poppins-Thin.ttf") format("truetype"),
		url("Poppins/Poppins-Thin.svg") format("svg");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-ThinItalic.eot");
	src: local("☺"), url("Poppins/Poppins-ThinItalic.woff") format("woff"),
		url("Poppins/Poppins-ThinItalic.ttf") format("truetype"),
		url("Poppins/Poppins-ThinItalic.svg") format("svg");
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-ExtraLight.eot");
	src: local("☺"), url("Poppins/Poppins-ExtraLight.woff") format("woff"),
		url("Poppins/Poppins-ExtraLight.ttf") format("truetype"),
		url("Poppins/Poppins-ExtraLight.svg") format("svg");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-ExtraLightItalic.eot");
	src: local("☺"), url("Poppins/Poppins-ExtraLightItalic.woff") format("woff"),
		url("Poppins/Poppins-ExtraLightItalic.ttf") format("truetype"),
		url("Poppins/Poppins-ExtraLightItalic.svg") format("svg");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-Light.eot");
	src: local("☺"), url("Poppins/Poppins-Light.woff") format("woff"),
		url("Poppins/Poppins-Light.ttf") format("truetype"),
		url("Poppins/Poppins-Light.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-LightItalic.eot");
	src: local("☺"), url("Poppins/Poppins-LightItalic.woff") format("woff"),
		url("Poppins/Poppins-LightItalic.ttf") format("truetype"),
		url("Poppins/Poppins-LightItalic.svg") format("svg");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-Regular.eot");
	src: local("☺"), url("Poppins/Poppins-Regular.woff") format("woff"),
		url("Poppins/Poppins-Regular.ttf") format("truetype"),
		url("Poppins/Poppins-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-RegularItalic.eot");
	src: local("☺"), url("Poppins/Poppins-RegularItalic.woff") format("woff"),
		url("Poppins/Poppins-RegularItalic.ttf") format("truetype"),
		url("Poppins/Poppins-RegularItalic.svg") format("svg");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-Medium.eot");
	src: local("☺"), url("Poppins/Poppins-Medium.woff") format("woff"),
		url("Poppins/Poppins-Medium.ttf") format("truetype"),
		url("Poppins/Poppins-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-MediumItalic.eot");
	src: local("☺"), url("Poppins/Poppins-MediumItalic.woff") format("woff"),
		url("Poppins/Poppins-MediumItalic.ttf") format("truetype"),
		url("Poppins/Poppins-MediumItalic.svg") format("svg");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-SemiBold.eot");
	src: local("☺"), url("Poppins/Poppins-SemiBold.woff") format("woff"),
		url("Poppins/Poppins-SemiBold.ttf") format("truetype"),
		url("Poppins/Poppins-SemiBold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-SemiBoldItalic.eot");
	src: local("☺"), url("Poppins/Poppins-SemiBoldItalic.woff") format("woff"),
		url("Poppins/Poppins-SemiBoldItalic.ttf") format("truetype"),
		url("Poppins/Poppins-SemiBoldItalic.svg") format("svg");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-Bold.eot");
	src: local("☺"), url("Poppins/Poppins-Bold.woff") format("woff"),
		url("Poppins/Poppins-Bold.ttf") format("truetype"),
		url("Poppins/Poppins-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-BoldItalic.eot");
	src: local("☺"), url("Poppins/Poppins-BoldItalic.woff") format("woff"),
		url("Poppins/Poppins-BoldItalic.ttf") format("truetype"),
		url("Poppins/Poppins-BoldItalic.svg") format("svg");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-ExtraBold.eot");
	src: local("☺"), url("Poppins/Poppins-ExtraBold.woff") format("woff"),
		url("Poppins/Poppins-ExtraBold.ttf") format("truetype"),
		url("Poppins/Poppins-ExtraBold.svg") format("svg");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-ExtraBoldItalic.eot");
	src: local("☺"), url("Poppins/Poppins-ExtraBoldItalic.woff") format("woff"),
		url("Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype"),
		url("Poppins/Poppins-ExtraBoldItalic.svg") format("svg");
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-Black.eot");
	src: local("☺"), url("Poppins/Poppins-Black.woff") format("woff"),
		url("Poppins/Poppins-Black.ttf") format("truetype"),
		url("Poppins/Poppins-Black.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("Poppins/Poppins-BlackItalic.eot");
	src: local("☺"), url("Poppins/Poppins-BlackItalic.woff") format("woff"),
		url("Poppins/Poppins-BlackItalic.ttf") format("truetype"),
		url("Poppins/Poppins-BlackItalic.svg") format("svg");
	font-weight: 900;
	font-style: italic;
}
