.div .section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	align-self: stretch;
	width: 100%;
	flex: 0 0 auto;
	background-color: #fcfcfc;
	box-shadow: 0px 2px 4px #00000013;
}

.div .who-jpg {
	position: relative;
	max-width: 1635px;
	width: 1635px;
	height: 367.88px;
	background-image: url(./img/who-jpg.png);
	background-size: cover;
	background-position: 50% 50%;
}

.div .div {
	position: relative;
	max-width: 1320px;
	width: 1320px;
	height: 972.09px;
}

.div .component {
	position: absolute;
	width: 416px;
	height: 323px;
	top: 0;
	left: 232px;
	background-color: #ffffff01;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 16px -11px #000000;
}

.div .family-jpg {
	position: absolute;
	width: 416px;
	height: 240px;
	top: 0;
	left: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #cccccc;
	background-image: url(./img/family-jpg.png);
	background-size: cover;
	background-position: 50% 50%;
}

.div .heading-what-we-do {
	position: absolute;
	width: 110px;
	height: 24px;
	top: 250px;
	left: 16px;
	font-family: var(--www-missingpersonsplatform-com-rubik-medium-font-family);
	font-weight: var(--www-missingpersonsplatform-com-rubik-medium-font-weight);
	color: #0054a6;
	font-size: var(--www-missingpersonsplatform-com-rubik-medium-font-size);
	letter-spacing: var(
		--www-missingpersonsplatform-com-rubik-medium-letter-spacing
	);
	line-height: var(--www-missingpersonsplatform-com-rubik-medium-line-height);
	white-space: nowrap;
	font-style: var(--www-missingpersonsplatform-com-rubik-medium-font-style);
}

.div .text-wrapper {
	position: absolute;
	width: 289px;
	height: 28px;
	top: 282px;
	left: 16px;
	font-family: var(--www-missingpersonsplatform-com-rubik-light-font-family);
	font-weight: var(--www-missingpersonsplatform-com-rubik-light-font-weight);
	color: #9e9e9e;
	font-size: var(--www-missingpersonsplatform-com-rubik-light-font-size);
	letter-spacing: var(
		--www-missingpersonsplatform-com-rubik-light-letter-spacing
	);
	line-height: var(--www-missingpersonsplatform-com-rubik-light-line-height);
	white-space: nowrap;
	font-style: var(--www-missingpersonsplatform-com-rubik-light-font-style);
}

.div .component-2 {
	position: absolute;
	width: 416px;
	height: 323px;
	top: 0;
	left: 672px;
	background-color: #ffffff01;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 16px -11px #000000;
}

.div .missing-persons {
	position: absolute;
	width: 416px;
	height: 240px;
	top: 0;
	left: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #cccccc;
	background-image: url(./img/missing-persons-project-20icon-png.png);
	background-size: cover;
	background-position: 50% 50%;
}

.div .heading-missing {
	position: absolute;
	width: 231px;
	height: 24px;
	top: 250px;
	left: 16px;
	font-family: var(--www-missingpersonsplatform-com-rubik-medium-font-family);
	font-weight: var(--www-missingpersonsplatform-com-rubik-medium-font-weight);
	color: #0054a6;
	font-size: var(--www-missingpersonsplatform-com-rubik-medium-font-size);
	letter-spacing: var(
		--www-missingpersonsplatform-com-rubik-medium-letter-spacing
	);
	line-height: var(--www-missingpersonsplatform-com-rubik-medium-line-height);
	white-space: nowrap;
	font-style: var(--www-missingpersonsplatform-com-rubik-medium-font-style);
}

.div .text-wrapper-2 {
	position: absolute;
	width: 185px;
	height: 28px;
	top: 282px;
	left: 16px;
	font-family: var(--www-missingpersonsplatform-com-rubik-light-font-family);
	font-weight: var(--www-missingpersonsplatform-com-rubik-light-font-weight);
	color: #9e9e9e;
	font-size: var(--www-missingpersonsplatform-com-rubik-light-font-size);
	letter-spacing: var(
		--www-missingpersonsplatform-com-rubik-light-letter-spacing
	);
	line-height: var(--www-missingpersonsplatform-com-rubik-light-line-height);
	white-space: nowrap;
	font-style: var(--www-missingpersonsplatform-com-rubik-light-font-style);
}

.div .p {
	position: absolute;
	width: 758px;
	height: 34px;
	top: 346px;
	left: 281px;
	font-family: var(
		--www-missingpersonsplatform-com-semantic-heading-3-font-family
	);
	font-weight: var(
		--www-missingpersonsplatform-com-semantic-heading-3-font-weight
	);
	color: #0054a6;
	font-size: var(
		--www-missingpersonsplatform-com-semantic-heading-3-font-size
	);
	text-align: center;
	letter-spacing: var(
		--www-missingpersonsplatform-com-semantic-heading-3-letter-spacing
	);
	line-height: var(
		--www-missingpersonsplatform-com-semantic-heading-3-line-height
	);
	white-space: nowrap;
	font-style: var(
		--www-missingpersonsplatform-com-semantic-heading-3-font-style
	);
}

.div .overlap-group {
	position: absolute;
	width: 864px;
	height: 576px;
	top: 396px;
	left: 228px;
	background-image: url(./img/launch1-jpg.png);
	background-size: cover;
	background-position: 50% 50%;
}

.div .image-wrapper {
	display: flex;
	width: 130px;
	align-items: center;
	justify-content: center;
	padding: 271.82px 48.79px 271.81px 48.8px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
}

.div .image {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	width: 32px;
	height: 32px;
	position: relative;
}

.div .image-fill {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	width: 32px;
	height: 32px;
	position: relative;
}

.div .img {
	position: relative;
	width: 32px;
	height: 32px;
}

.div .div-wrapper {
	display: flex;
	width: 130px;
	align-items: center;
	justify-content: center;
	padding: 271.82px 48.8px 271.81px 48.79px;
	position: absolute;
	top: 0;
	left: 734px;
	opacity: 0.5;
}

@import url("./global.css");
