.div .container-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
	padding: 2% 0;
}

.div .container {
	flex-direction: column;
	width: 90%;
	height: 100%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
}

.div .figure {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
}

.div .div-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	align-self: stretch;
	width: 100%;
	flex: 0 0 auto;
}

.div .div-cont {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}

.div .p {
	position: relative;
	font-weight: 600;
	color: #212529;
	font-size: 1.5vw;
}

.div .div-2 {
	position: relative;
	font-weight: 400;
	color: #6c757d;
	font-size: 1.3vw;
}

.div .span {
	font-family: var(
		--www-missingpersonsplatform-com-rubik-regular-font-family
	);
	font-weight: var(
		--www-missingpersonsplatform-com-rubik-regular-font-weight
	);
	color: #6c757d;
	font-size: var(--www-missingpersonsplatform-com-rubik-regular-font-size);
	letter-spacing: var(
		--www-missingpersonsplatform-com-rubik-regular-letter-spacing
	);
	line-height: var(
		--www-missingpersonsplatform-com-rubik-regular-line-height
	);
	font-style: var(--www-missingpersonsplatform-com-rubik-regular-font-style);
}

.div .text-wrapper-2 {
	font-family: var(--www-missingpersonsplatform-com-rubik-italic-font-family);
	font-style: var(--www-missingpersonsplatform-com-rubik-italic-font-style);
	font-weight: var(--www-missingpersonsplatform-com-rubik-italic-font-weight);
	letter-spacing: var(
		--www-missingpersonsplatform-com-rubik-italic-letter-spacing
	);
	line-height: var(--www-missingpersonsplatform-com-rubik-italic-line-height);
	font-size: var(--www-missingpersonsplatform-com-rubik-italic-font-size);
}

.div .heading-2 {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	margin: 1% 0;
}

.div .overlay-shadow {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 30vh;
	position: relative;
	background-color: #ffffff01;
	border-radius: 12px;
	box-shadow: 0px 0px 16px -11px #000000;
}

.div .container-2 {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
}

.div .container-3 {
	display: flex;
	flex-direction: column;
	width: 30vh;
	height: 100%;
	position: relative;
}

.div .find-the-missing {
	position: relative;
	width: 30vh;
	height: 100%;
	background-image: url(http://localhost/images/find-the-missing-person-campaign-jpg.png);
	background-size: cover;
	background-position: 50% 50%;
}

.div .container-4 {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0.5% 2%;
}

.div .text-wrapper-3 {
	position: relative;
	font-weight: 600;
	color: #1b0324;
	font-size: 1.5vw;
	margin-bottom: 0.5%;
}

.div .text-wrapper-4 {
	position: relative;
	font-weight: 400;
	color: #212529;
	font-size: 1.3vw;
}

.div .psycho-social {
	position: relative;
	width: 30vh;
	height: 100%;
	background-image: url(http://localhost/images/psycho-social-support-missing-persons-jpg.png);
	background-size: cover;
	background-position: 50% 50%;
}

.div .to-continue-to-make-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 1% 0;
}

.div .to-continue-to-make {
	position: relative;
	width: fit-content;
	font-weight: 400;
	color: #212529;
	font-size: 1.4vw;
}

.div .component {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1b0324;
	border-radius: 4px;
	border: 1px solid;
	height: 5vh;
	width: 10%;
}

.div .text {
	position: relative;
	font-weight: 600;
	color: #ffffff;
	font-size: 1vw;
	text-align: center;
}
