.div .container-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
	min-height: 70vh;
	padding: 2% 0;
}

.div .container {
	flex-direction: column;
	width: 90%;
	height: 100%;
	align-items: center;
	display: flex;
	position: relative;
	justify-content: space-between;
}

.div .div-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
}

.div .p {
	position: relative;
	align-self: stretch;
	margin-top: -1px;
	font-family: var(
		--www-missingpersonsplatform-com-rubik-regular-font-family
	);
	font-weight: var(
		--www-missingpersonsplatform-com-rubik-regular-font-weight
	);
	color: #212529;
	font-size: var(--www-missingpersonsplatform-com-rubik-regular-font-size);
	text-align: center;
	letter-spacing: var(
		--www-missingpersonsplatform-com-rubik-regular-letter-spacing
	);
	line-height: var(
		--www-missingpersonsplatform-com-rubik-regular-line-height
	);
	font-style: var(--www-missingpersonsplatform-com-rubik-regular-font-style);
}

.div .background {
	display: flex;
	width: 100%;
	position: relative;
	background-color: #1b0324;
	border-radius: 25px;
	align-items: center;
	justify-content: center;
}

.div .form {
	display: flex;
	position: relative;
	flex-direction: row;
	width: 100%;
	height: 5vh;
	box-sizing: content-box;
	padding: 1%;
	border-radius: 25px;
	outline: #1b0324 solid 4px;
	margin: 2% 0;
}

.div .container-2 {
	display: flex;
	position: relative;
	align-self: stretch;
	width: 100%;
	height: 100%;
	border: none;
}

.div .input {
	width: 75%;
	border: none;
	height: 100%;
}

.div .button-margin {
	width: 25%;
	height: 100%;
	font-size: 1.3vw;
	border-left: #1b0324 solid 2px;
}

.div .button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: none;
	border: none;
	font-size: 1.3vw;
	height: 100%;
	width: 100%;
}

.div .symbol-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
}

.div .symbol {
	height: 70%;
}

.div .search {
	font-family: "Rubik-Regular", Helvetica;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	position: relative;
	width: fit-content;
	margin-top: -1px;
	color: #1b0324;
	letter-spacing: 0;
	white-space: nowrap;
	background: transparent;
	border: none;
	padding: 0;
}

.div .container-38 {
	position: relative;
	width: 100%;
}

.div .heading-2 {
	display: flex;
	flex-direction: column;
	width: 1061px;
	align-items: flex-start;
	padding: 0px 0px 0.59px;
	position: absolute;
	top: 0;
	left: 0;
}

.div .text-wrapper-7 {
	font-family: var(
		--www-missingpersonsplatform-com-semantic-heading-3-font-family
	);
	font-weight: var(
		--www-missingpersonsplatform-com-semantic-heading-3-font-weight
	);
	font-size: var(
		--www-missingpersonsplatform-com-semantic-heading-3-font-size
	);
	line-height: var(
		--www-missingpersonsplatform-com-semantic-heading-3-line-height
	);
	position: relative;
	width: fit-content;
	margin-top: -1px;
	color: #1b0324;
	letter-spacing: var(
		--www-missingpersonsplatform-com-semantic-heading-3-letter-spacing
	);
	white-space: nowrap;
	font-style: var(
		--www-missingpersonsplatform-com-semantic-heading-3-font-style
	);
}

.div .table-2 {
	width: 1061px;
	padding: 0.5px 0px;
	position: absolute;
	top: 66px;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.div .header {
	display: flex;
	flex-direction: column;
	height: 41px;
	align-items: flex-start;
	justify-content: flex-end;
	position: relative;
	align-self: stretch;
	width: 100%;
	background-color: #1b0324;
}

.div .row-2 {
	height: 41px;
	align-items: flex-end;
	padding: 0px 0.01px 0px 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #dee2e6;
	display: flex;
	justify-content: center;
	position: relative;
	align-self: stretch;
	width: 100%;
}

.div .cell {
	width: 34.02px;
	display: flex;
	flex-direction: column;
	height: 41px;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 8px 9px 9px;
	position: relative;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: #dee2e6;
}

.div .text-wrapper-8 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: var(
		--www-missingpersonsplatform-com-semantic-cell-font-family
	);
	font-weight: var(
		--www-missingpersonsplatform-com-semantic-cell-font-weight
	);
	color: var(--wwwmissingpersonsplatformcomwhite);
	font-size: var(--www-missingpersonsplatform-com-semantic-cell-font-size);
	letter-spacing: var(
		--www-missingpersonsplatform-com-semantic-cell-letter-spacing
	);
	line-height: var(
		--www-missingpersonsplatform-com-semantic-cell-line-height
	);
	white-space: nowrap;
	font-style: var(--www-missingpersonsplatform-com-semantic-cell-font-style);
}

.div .cell-2 {
	width: 187.08px;
	display: flex;
	flex-direction: column;
	height: 41px;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 8px 9px 9px;
	position: relative;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: #dee2e6;
}

.div .cell-3 {
	width: 738.47px;
	display: flex;
	flex-direction: column;
	height: 41px;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 8px 9px 9px;
	position: relative;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: #dee2e6;
}

.div .cell-4 {
	width: 100.09px;
	display: flex;
	flex-direction: column;
	height: 41px;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 8px 9px 9px;
	position: relative;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: #dee2e6;
}

.div .text-wrapper-9 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	margin-right: -1.91px;
	font-family: var(
		--www-missingpersonsplatform-com-semantic-cell-font-family
	);
	font-weight: var(
		--www-missingpersonsplatform-com-semantic-cell-font-weight
	);
	color: var(--wwwmissingpersonsplatformcomwhite);
	font-size: var(--www-missingpersonsplatform-com-semantic-cell-font-size);
	letter-spacing: var(
		--www-missingpersonsplatform-com-semantic-cell-letter-spacing
	);
	line-height: var(
		--www-missingpersonsplatform-com-semantic-cell-line-height
	);
	white-space: nowrap;
	font-style: var(--www-missingpersonsplatform-com-semantic-cell-font-style);
}

.div .body {
	flex-direction: column;
	height: 530px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	align-self: stretch;
	width: 100%;
}

.div .row-3 {
	height: 65px;
	padding: 0px 0.01px 0px 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #dee2e6;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	align-self: stretch;
	width: 100%;
}

.div .data-3 {
	width: 34.02px;
	padding: 8px 9px;
	align-self: stretch;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: #dee2e6;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.div .text-wrapper-10 {
	color: #212529;
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: var(
		--www-missingpersonsplatform-com-semantic-data-font-family
	);
	font-weight: var(
		--www-missingpersonsplatform-com-semantic-data-font-weight
	);
	font-size: var(--www-missingpersonsplatform-com-semantic-data-font-size);
	letter-spacing: var(
		--www-missingpersonsplatform-com-semantic-data-letter-spacing
	);
	line-height: var(
		--www-missingpersonsplatform-com-semantic-data-line-height
	);
	white-space: nowrap;
	font-style: var(--www-missingpersonsplatform-com-semantic-data-font-style);
}

.div .data-4 {
	width: 187.08px;
	padding: 8px 9px;
	align-self: stretch;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: #dee2e6;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.div .text-wrapper-11 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: var(
		--www-missingpersonsplatform-com-semantic-data-font-family
	);
	font-weight: var(
		--www-missingpersonsplatform-com-semantic-data-font-weight
	);
	color: #212529;
	font-size: var(--www-missingpersonsplatform-com-semantic-data-font-size);
	letter-spacing: var(
		--www-missingpersonsplatform-com-semantic-data-letter-spacing
	);
	line-height: var(
		--www-missingpersonsplatform-com-semantic-data-line-height
	);
	font-style: var(--www-missingpersonsplatform-com-semantic-data-font-style);
}

.div .data-5 {
	width: 738.47px;
	padding: 8px 9px;
	align-self: stretch;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: #dee2e6;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.div .data-6 {
	width: 100.09px;
	padding: 10.5px 9px 35.5px;
	align-self: stretch;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: #dee2e6;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.div .component-6 {
	display: inline-flex;
	align-items: flex-start;
	position: relative;
	flex: 0 0 auto;
	margin-bottom: -5px;
}

.div .text-2 {
	width: fit-content;
	font-family: var(
		--www-missingpersonsplatform-com-rubik-regular-font-family
	);
	color: #0d6efd;
	font-size: var(--www-missingpersonsplatform-com-rubik-regular-font-size);
	line-height: var(
		--www-missingpersonsplatform-com-rubik-regular-line-height
	);
	white-space: nowrap;
	position: relative;
	margin-top: -1px;
	font-weight: var(
		--www-missingpersonsplatform-com-rubik-regular-font-weight
	);
	letter-spacing: var(
		--www-missingpersonsplatform-com-rubik-regular-letter-spacing
	);
	font-style: var(--www-missingpersonsplatform-com-rubik-regular-font-style);
}

.div .row-4 {
	display: flex;
	height: 41px;
	align-items: flex-start;
	justify-content: center;
	padding: 0px 0.01px 0px 0px;
	position: relative;
	align-self: stretch;
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #dee2e6;
}

.div .data-7 {
	width: 100.09px;
	padding: 10.5px 9px 11.5px;
	align-self: stretch;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: #dee2e6;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.div .text-wrapper-12 {
	margin-right: -0.98px;
	color: #212529;
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: var(
		--www-missingpersonsplatform-com-semantic-data-font-family
	);
	font-weight: var(
		--www-missingpersonsplatform-com-semantic-data-font-weight
	);
	font-size: var(--www-missingpersonsplatform-com-semantic-data-font-size);
	letter-spacing: var(
		--www-missingpersonsplatform-com-semantic-data-letter-spacing
	);
	line-height: var(
		--www-missingpersonsplatform-com-semantic-data-line-height
	);
	white-space: nowrap;
	font-style: var(--www-missingpersonsplatform-com-semantic-data-font-style);
}

.div .text-wrapper-13 {
	width: fit-content;
	font-family: var(
		--www-missingpersonsplatform-com-semantic-item-font-family
	);
	color: #6c757d;
	font-size: var(--www-missingpersonsplatform-com-semantic-item-font-size);
	line-height: var(
		--www-missingpersonsplatform-com-semantic-item-line-height
	);
	white-space: nowrap;
	position: relative;
	margin-top: -1px;
	font-weight: var(
		--www-missingpersonsplatform-com-semantic-item-font-weight
	);
	letter-spacing: var(
		--www-missingpersonsplatform-com-semantic-item-letter-spacing
	);
	font-style: var(--www-missingpersonsplatform-com-semantic-item-font-style);
}

.div .item {
	left: 62px;
	display: inline-flex;
	flex-direction: column;
	height: 38px;
	align-items: flex-start;
	position: absolute;
	top: 0;
}

.div .component-7 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 7px 13px;
	position: relative;
	align-self: stretch;
	width: 100%;
	flex: 0 0 auto;
	background-color: #ffffff;
	border: 1px solid;
	border-color: #dee2e6;
}

.div .item-2 {
	left: 97px;
	display: inline-flex;
	flex-direction: column;
	height: 38px;
	align-items: flex-start;
	position: absolute;
	top: 0;
}

.div .item-3 {
	left: 132px;
	display: inline-flex;
	flex-direction: column;
	height: 38px;
	align-items: flex-start;
	position: absolute;
	top: 0;
}

.div .item-4 {
	left: 166px;
	display: inline-flex;
	flex-direction: column;
	height: 38px;
	align-items: flex-start;
	position: absolute;
	top: 0;
}

.div .item-5 {
	left: 201px;
	display: inline-flex;
	flex-direction: column;
	height: 38px;
	align-items: flex-start;
	position: absolute;
	top: 0;
}

.div .item-6 {
	left: 236px;
	display: inline-flex;
	flex-direction: column;
	height: 38px;
	align-items: flex-start;
	position: absolute;
	top: 0;
}

.div .item-7 {
	left: 269px;
	display: inline-flex;
	flex-direction: column;
	height: 38px;
	align-items: flex-start;
	position: absolute;
	top: 0;
}

.div .item-8 {
	left: 304px;
	display: inline-flex;
	flex-direction: column;
	height: 38px;
	align-items: flex-start;
	position: absolute;
	top: 0;
}

.div .item-9 {
	left: 339px;
	display: inline-flex;
	flex-direction: column;
	height: 38px;
	align-items: flex-start;
	position: absolute;
	top: 0;
}

.div .background-border-wrapper {
	left: 381px;
	display: inline-flex;
	flex-direction: column;
	height: 38px;
	align-items: flex-start;
	position: absolute;
	top: 0;
}

.div .background-border-3 {
	background-color: var(--wwwmissingpersonsplatformcomwhite);
	border-color: #dee2e6;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 7px 13px;
	position: relative;
	align-self: stretch;
	width: 100%;
	flex: 0 0 auto;
	border: 1px solid;
}

.div .item-10 {
	left: 418px;
	display: inline-flex;
	flex-direction: column;
	height: 38px;
	align-items: flex-start;
	position: absolute;
	top: 0;
}

.div .item-11 {
	left: 462px;
	display: inline-flex;
	flex-direction: column;
	height: 38px;
	align-items: flex-start;
	position: absolute;
	top: 0;
}

.div .item-12 {
	left: 506px;
	display: inline-flex;
	flex-direction: column;
	height: 38px;
	align-items: flex-start;
	position: absolute;
	top: 0;
}

.div .component-8 {
	border-radius: 0px 4px 4px 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 7px 13px;
	position: relative;
	align-self: stretch;
	width: 100%;
	flex: 0 0 auto;
	background-color: #ffffff;
	border: 1px solid;
	border-color: #dee2e6;
}

.div .item-13 {
	left: 31px;
	display: inline-flex;
	flex-direction: column;
	height: 38px;
	align-items: flex-start;
	position: absolute;
	top: 0;
}

.div .background-border-4 {
	background-color: #0d6efd;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 7px 13px;
	position: relative;
	align-self: stretch;
	width: 100%;
	flex: 0 0 auto;
	border: 1px solid;
}

.div .text-wrapper-14 {
	color: var(--wwwmissingpersonsplatformcomwhite);
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: var(
		--www-missingpersonsplatform-com-semantic-item-font-family
	);
	font-weight: var(
		--www-missingpersonsplatform-com-semantic-item-font-weight
	);
	font-size: var(--www-missingpersonsplatform-com-semantic-item-font-size);
	letter-spacing: var(
		--www-missingpersonsplatform-com-semantic-item-letter-spacing
	);
	line-height: var(
		--www-missingpersonsplatform-com-semantic-item-line-height
	);
	white-space: nowrap;
	font-style: var(--www-missingpersonsplatform-com-semantic-item-font-style);
}

.head-cont {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

table {
	width: 100%;
}

thead {
	background-color: #1b0324;
}

th {
	border: 1px solid;
	border-color: #1b0324;
	color: white;
}

td {
	border: 1px solid;
	border-color: #1b0324;
	color: #1b0324;
}

table th:nth-child(1),
table td:nth-child(1) {
	text-align: center;
}

#pagination {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#pagination button {
	width: 5%;
}
