.div .form-section {
	position: relative;
	align-self: stretch;
	width: 100%;
	height: 100vh;
}

.div .heading {
	display: flex;
	flex-direction: column;
	width: 100vw;
	align-items: center;
}

.div .click-on-a-poster-to {
	position: relative;
	font-weight: 600;
	color: #0054a6;
	font-size: 1vw;
	text-align: center;
	letter-spacing: normal;
	line-height: 1vw;
	font-style: normal;
}

.div .heading-search {
	width: 100vw;
	height: 3vh;
	font-weight: 700;
	color: #212529;
	font-size: 3vh;
	text-align: center;
	letter-spacing: normal;
	line-height: 3vh;
	white-space: nowrap;
	font-style: normal;
	margin: 1vh 0;
}

.div .overlap {
	position: absolute;
	width: 424px;
	height: 674px;
	top: 358px;
	left: 4px;
}

.div .div-wrapper {
	top: 0;
	left: 52px;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
}

.div .div {
	position: relative;
	max-width: 380px;
	width: 372px;
	height: 673.55px;
	background-image: url(http://localhost/images/167051854316350660255-search-poster-jpg.png);
	background-size: cover;
	background-position: 50% 50%;
}

.div .image-wrapper {
	top: 490px;
	left: 0;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
}

.div .image {
	position: relative;
	max-width: 380px;
	width: 64.17px;
	height: 24px;
}

.div .component-2 {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.div .results {
	display: flex;
	justify-content: space-evenly;
}

.div .div-2 {
	position: relative;
	max-width: 380px;
	width: 372px;
	height: 673.55px;
	background-image: url(http://localhost/images/168205579716350660265-search-poster-jpg.png);
	background-size: cover;
	background-position: 50% 50%;
}

.div .component-3 {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.div .div-3 {
	position: relative;
	max-width: 380px;
	width: 372px;
	height: 673.55px;
	background-image: url(http://localhost/images/169601154016350660292-search-poster-jpg.png);
	background-size: cover;
	background-position: 50% 50%;
}

.div .background {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	box-sizing: border-box;
	background-color: #1b0324;
	height: 7.5vh;
}

.div .container {
	display: flex;
	align-items: center;
	position: relative;
	width: 90%;
	height: 80%;
}

.div .options {
	position: relative;
	align-self: stretch;
	width: 15%;
	background-color: #ffffff;
	border-radius: 25px 0px 0px 25px;
}

.div .input {
	display: flex;
	flex-direction: column;
	width: 75%;
	align-items: flex-start;
	height: 100%;
	position: relative;
	background-color: #ffffff;
	padding: 0 5%;
}

.div .component-4 {
	position: relative;
	width: 10%;
	background-color: #ffffff;
	height: 100%;
	border-radius: 0px 25px 25px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.div .overlap-group {
	position: relative;
	width: 100%;
	height: 100%;
}

.div .img {
	position: relative;
	width: 12px;
	height: 12px;
}

.div .container-2 {
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 25px 0px 0px 25px;
	font-family: "Poppins", Helvetica;
	font-weight: 600;
	color: #212529;
	font-size: 1vw;
	letter-spacing: normal;
	line-height: 1vw;
	white-space: nowrap;
	font-style: normal;
	padding: 0 5%;
}

.div .container-3 {
	position: relative;
	width: 100%;
	border: none;
	font-family: "Poppins", Helvetica;
	font-weight: 500;
	color: #6c757d;
	font-size: 1vw;
	letter-spacing: normal;
	line-height: 1vw;
	font-style: normal;
	padding: 0;
	height: 100%;
}

.div .component {
	display: flex;
	align-items: center;
	justify-content: end;
	padding-right: 2.5%;
	gap: 2.5%;
	height: 5vh;
	margin: 1% 0;
}

.div .component-5 {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 7px;
	border: 2px solid;
	border-color: #0054a6;
	height: 100%;
	width: 7.5%;
}

.div .filter {
	position: relative;
	width: fit-content;
	color: #0054a6;
	font-weight: 500;
	font-size: 1vw;
	text-align: center;
	letter-spacing: normal;
	line-height: 1vw;
	white-space: nowrap;
	font-style: normal;
}

.div .component-6 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 7px;
	border: 2px solid;
	border-color: #ff0000cc;
	height: 100%;
	width: 7.5%;
}

.div .text {
	position: relative;
	font-weight: 500;
	color: #ff0000cc;
	font-size: 1vw;
	text-align: center;
	letter-spacing: normal;
	line-height: 1vw;
	white-space: nowrap;
	font-style: normal;
}

.div .person-info-jpg-wrapper {
	padding: 18px 0px 0px;
	border-top-width: 2px;
	border-top-style: solid;
	border-color: #dddddd;
	display: flex;
	position: relative;
	width: 100vw;
	height: 50vh;
	background-color: #f8f9fa;
	box-shadow: 0px 2px 4px #00000013;
}

.div .person-info-jpg {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url(http://localhost/images/person-info-jpg.png);
	background-size: cover;
	background-position: 50% 50%;
}
