.desktop .group-4 {
	position: relative;
	width: 100vw;
	height: 15vh;
	bottom: 0;
}

.desktop .overlap-3 {
	position: relative;
	width: 100vw;
	height: 15vh;
	background-color: #1a0224;
}

.desktop .text-wrapper-23 {
	position: absolute;
	height: 24px;
	top: 59px;
	left: 118px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-24 {
	position: absolute;
	height: 27px;
	top: 17px;
	left: 924px;
	font-family: "Poppins-Bold", Helvetica;
	font-weight: 700;
	color: #ffffff;
	font-size: 18px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-25 {
	position: absolute;
	height: 27px;
	top: 17px;
	left: 1095px;
	font-family: "Poppins-Bold", Helvetica;
	font-weight: 700;
	color: #ffffff;
	font-size: 18px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-26 {
	position: absolute;
	height: 27px;
	top: 17px;
	left: 1266px;
	font-family: "Poppins-Bold", Helvetica;
	font-weight: 700;
	color: #ffffff;
	font-size: 18px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-27 {
	position: absolute;
	height: 27px;
	top: 17px;
	left: 1437px;
	font-family: "Poppins-Bold", Helvetica;
	font-weight: 700;
	color: #ffffff;
	font-size: 18px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-28 {
	position: absolute;
	height: 24px;
	top: 47px;
	left: 924px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-29 {
	position: absolute;
	height: 24px;
	top: 47px;
	left: 1095px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-30 {
	position: absolute;
	height: 24px;
	top: 76px;
	left: 1095px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-31 {
	position: absolute;
	height: 24px;
	top: 47px;
	left: 1266px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-32 {
	position: absolute;
	height: 24px;
	top: 76px;
	left: 1266px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-33 {
	position: absolute;
	height: 24px;
	top: 105px;
	left: 1266px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-34 {
	position: absolute;
	height: 24px;
	top: 47px;
	left: 1437px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-35 {
	position: absolute;
	height: 24px;
	top: 76px;
	left: 1437px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-36 {
	position: absolute;
	height: 24px;
	top: 105px;
	left: 1437px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-37 {
	position: absolute;
	height: 24px;
	top: 76px;
	left: 924px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
}

.desktop .text-wrapper-38 {
	position: absolute;
	height: 24px;
	top: 105px;
	left: 924px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
}
