.navbar {
	width: 100vw;
	height: 10vh;
	background-color: #1b0324;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	width: 231px;
	height: 42px;
}

.security-shield {
	width: 47px;
	height: 42px;
}

.text-wrapper {
	font-family: "Poppins-Bold", Helvetica !important;
	font-weight: 700;
	color: #d7c2df;
	font-size: 2vw;
	letter-spacing: 0;
	line-height: normal;
}

.link-wrapper {
	font-family: "Poppins", Helvetica !important;
	font-weight: 500;
	color: #d7c2df;
	font-size: 1vw;
	letter-spacing: 0;
	line-height: normal;
}

.get-started {
	width: 183px;
	height: 57px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	background: linear-gradient(
		90deg,
		rgb(102.45, 11.35, 138.47) 0%,
		rgb(26.98, 2.99, 36.47) 80%
	);
}

.text-wrapper-10 {
	font-family: "Poppins", Helvetica !important;
	font-weight: 500;
	color: #d7c2df;
	font-size: 18px;
	letter-spacing: 0;
	line-height: normal;
}
