.div .cont-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
	padding: 2% 0;
}

.div .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 80%;
	height: fit-content;
	min-height: 100vh;
	padding: 2% 0;
}

.div .text-wrapper-3 {
	position: relative;
	width: 100%;
	font-weight: 400;
	color: #212529;
	font-size: 1.4vw;
}

.div .text-wrapper-2 {
	position: relative;
	font-weight: 600;
	font-size: 1.5vw;
	letter-spacing: 0;
	line-height: normal;
	color: #1b0324;
	text-align: center;
}

.div .text-wrapper-4 {
	position: relative;
	width: 100%;
	font-weight: 400;
	color: #212529;
	font-size: 1vw;
	text-align: center;
}

.div .div-cont {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	min-height: 40vh;
	height: fit-content;
	flex-wrap: wrap;
}

.tag {
	background-color: white;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	width: 30%;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	padding: 1% 1%;
}

.tag-img {
	height: 30%;
	width: 30%;
}

.flow {
	margin: 2% 0;
}
