.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.div .heading {
	align-items: center;
	margin-bottom: 1%;
}

table {
	width: 60%;
	margin-bottom: 10%;
}

thead {
	background-color: #1b0324;
}

th {
	border: 1px solid;
	border-color: #1b0324;
	color: white;
}

td {
	border: 1px solid;
	border-color: #1b0324;
	color: #1b0324;
}

.no_record {
	text-align: center;
	vertical-align: middle;
}
